---
import {getArticles} from '../../lib/api.js';
import Article from '../../components/Article.astro';
import Base from '../../layouts/Base.astro';

export async function getStaticPaths( { paginate } ) {
  const data = await getArticles();
  return paginate(data, { pageSize: 4 });
}
const {page} = Astro.props;
---
<Base>
    <article class="prose lg:prose-xl mx-auto">
      <h1>Articles archive</h1>
      <div>
          <ul>
              {page.data.map(post => <li><Article post={post}/></li>)}
          </ul>
      </div>

      {page.url.prev && <a href={page.url.prev}>Previous page</a>}
      {page.url.next && <a href={page.url.next}>Next page</a>}
    </article>
</Base>